*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
  width: 1440px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container { 
  max-width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 141px;
  margin-right: 141px; 
  }

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 25.5px;
  padding-right: 0;
  padding-bottom: 25.5px;
  padding-left: 15px;
}

.logo-color {
  color: #2e2f42;
  margin-right: 76px;
}

.list {
  list-style-type: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-li {
  margin-right: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus {
  color:#404BBF;
}

.add-part{
  font-style: normal;
  margin-top: 24px;
  margin-right: ;
  margin-bottom: 24px;
  margin-left: 332px;
}

.add-list {
  display: flex;
  align-items: center;
}

.add-li {
  padding-right: 15px;
  margin-left: 40px;
}

.contacts {
  text-decoration: none;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
  color:#404BBF;
}

.main-sect {
  background: #2e2f42;
  height: 600px;
}

.main-sect-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  padding-top: 188px;
  margin-left: 331px;
}

.main-sect-button {
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: inline-flex;
  padding: 16px 32px;
  margin-top: 48px;
  margin-left: 495px;
}

.main-sect-button:hover,
.main-sect-button:focus {
  background:#404BBF;
}

.list-two {
display: flex;
align-items: center;
justify-content: space-between;
}

.team {
  background:#F4F4FD;
}

.team-mates {
  background-color: #FFFFFF;
}

.sect-title {
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ft-section {
  background:#2E2F42;
}

.studio {
  color:#F4F4FD;
}

.ft-text {
  color:#F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.ft-logo-color {
  color: #f4f4fd;
}